@import 'node_modules/payload/dist/admin/scss/styles.scss';

.field-type.text {
  position: relative;
  margin-bottom: $baseline;

  input {
    @include formInput;
  }
}

html[data-theme=light] {
  .field-type.text {
    &.error {
      input {
        background-color: var(--theme-error-50);
        border: 1px solid var(--theme-error-500);
      }
    }
  }
}

html[data-theme=dark] {
  .field-type.text {
    &.error {
      input {
        background-color: var(--theme-error-100);
        border: 1px solid var(--theme-error-400);
      
        &:hover {
          border-color: var(--theme-error-500);
        }
      }
    }
  }
}
